.cvcontainer {
    margin: 120px;
}

.header {
    color: $theme-text-primary;
    font-weight: bold;
}

.header-lg {
    @extend .header;
    font-size: 2rem;
    line-height: 42px;
}

.header-md {
    @extend .header;
    font-size: 1.5rem;
}

.avatar {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    -webkit-filter: grayscale(100%); // Safari from 6 up to 9
    filter: grayscale(100%);
    object-fit: cover;
}

.item-list {
    color: $theme-text-primary;
    font-size: 0.65rem;
    padding: 0;
    list-style-type: none;
    text-align: left;
    font-weight: bold;
}

.tag {
    color: $theme-text-secondary;
    font-size: 0.65rem;
    font-weight: bold;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.selected {
    color: $theme-text-primary;
}

.selectable {
    &:hover {
        border-radius: 4px;
        background-color: $theme-selection;
    }
}

.note {
    text-align: left;
    padding: 0px 4px;
    @extend .selectable;
}

.note > .title {
    color: $theme-text-primary;
    font-size: 0.65rem;
    font-weight: bold;
}

.note > .extra {
    color: $theme-text-secondary;
    font-size: 0.55rem;
}

.app {
    text-align: left;
    margin: 0px 0px 20px 0px;
    padding: 2px;
    line-height: 18px;
    @extend .selectable;
}

.app > .icon {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    -webkit-filter: grayscale(100%); // Safari from 6 up to 9
    filter: grayscale(100%);
    object-fit: cover;
    background-color: $theme-placeholder-color;
    margin: 0px 6px;
}


.app > .title {
    color: $theme-text-primary;
    font-size: 0.60rem;
    margin: 0px 6px;
}

.app > .extra {
    color: $theme-text-secondary;
    font-size: 0.55rem;
    margin: 2px 6px;
}

